 {% extends "base.html" %} 
{% block title %} 

                    procedure


{% endblock %} 


{% block content%}  
   
   <title>LEGAL PROCEDURE </title>
    <h2 class = "omg">| How and When to Talk to a Lawyer |</h2>
    <h3 class ="omt">Engaging a lawyer for your first time? Legal Buddy is here to help you!</h3><br>

    <br>
<div class="wrap-collapsible">
    <input id="collapsible" class="toggle" type="checkbox"><label for="collapsible" class="lbl-toggle" tabindex="0" data-target="#">How to tell if you should engage a lawyer</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p class = "pin">
                A lawyer's expertise is not only handy when you're being sued, but also if you're trying to protect your rights, 
                or wrangle insurance or health care claims.
                
                <b>Some telltale signs you need to engage a lawyer are when:</b></p>
                <ol>
                    <li>Someone is threatening to sue you (like a neighbor or a business contact)</li>
                    <li>You're being asked to sign something where you are giving up your rights or accepting money</li>
                    <li>when you receive something official in the mail from a law office or court, or when 
                        you want to change the terms of something that is already written down (like a contract 
                        to do business, or the terms of a custody agreement, etc)</li>
                    <li>If you're being mistreated at work and want to know what your rights are</li>
                    <li>You've been a victim of fraud or theft</li>
                </ol>
                <p class = "pin">Engaging a lawyer earlier is always better. <br><br>If you think you need a lawyer, it is better to contact one early, even if your case doesn't go to court. 
                <br>If you've been charged with a crime, getting a lawyer as soon as possible can mean the difference between getting out of the court 
                system or being caught in legal hell for months or years. 
                <br>In civil cases, waiting until you're actually sued can cost you money.</p>
        </div>
    </div>

  
    <input id="collapsible0" class="toggle" type="checkbox"><label for="collapsible0" class="lbl-toggle" tabindex="0">How to know if your lawyer is right for you?</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p class = "pin">
                On your end, the first call or meeting should give you <b>a feel for the lawyer, their level of experience, and how comfortable you would be working with them.</b> 
        <br><br>On their end, they're trying to <b>gauge your trustworthiness, the legitimacy of your claim or defense, and how successful—both legally and financially—they would be if they were to represent you.</b>
       <br><br> If you have questions, ask them -- your lawyer should be able to explain things clearly, in a manner you understand. <br>If you want to know more about the lawyer's experience, or with your type of issue, ask about that, too. 
       <br>If those variables <i>don't add up, you're uncomfortable, or you're worried your lawyer is less interested in representing your interests and more interested in making a statement or earning a ton of money,</i> don't work with that lawyer.</p>
        </div>
    </div>

  
    <input id="collapsible1" class="toggle" type="checkbox"><label for="collapsible1" class="lbl-toggle" tabindex="0">How to Prepare for your Lawyer Consultation</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <h4>1. Be Honest and Bring Everything to the Table</h4>
                <p class = "pin">
                    Your conversations with them are legally protected, which means now's not the time to hold back. When your lawyer says "tell me everything," they mean it.
                    Whatever it is, tell them early so they can prepare and adjust their case for it. If you're sitting on information and wondering if its relevant, ask them if it is. You shouldn't go off on tangents, but you also shouldn't sit on something because you think it's irrelevant. Err on the side of too much information. 
                </p><br>

                <h4>2. Attend your meetings well-prepared</h4>
                <p class = "pin">
                    Every time you meet with your lawyer, it's critical to come prepared as well. After all, you're likely paying for the lawyer's time, so it's important to make the most of it.
                    Make an outline of what you want to discuss with your lawyer before you meet with them, and what information you'd like to get out of the conversation by the time it's over. Send it to your lawyer ahead of time so you're both on the same page, and if you have any relevant documents, scan and email those too. That way they don't waste precious time reading them with you in the room during your meeting. 
                </p>
        </div>
    </div>
</div>


{% endblock %}


