{% extends "base.html" %} 
{% block title %} legal aid schemes{% endblock %} 
{% block content%}
<script type="text/javascript">

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>PRIMARY JUSTICE PROJECT</h1>
      <h3>CIVIL MATTERS | LOCAL INDIVIDUALS</h3>
 </div>
    <div class="flip-card-back">
      <h2>PRIMARY JUSTICE PROJECT</h2>
      <p><ol>
        <li>Civil claims below $60,000</li>
        <li>Divorce matters with most ancillary matters close to settlement</li>
        <li>Representation on behalf of an unrepresented accused person during the Criminal Case Management System (CCMS) or the Criminal Case Resolution (CCR) process. This will include at least one round of written or oral representations to the prosecutors </li>
        <li>Harassment cases</li>
        <li>Neighbour disputes</li>
    </ol> 
    <b>Costs under this project: </b>Fixed fee of $1800 for 6h.
     
    No appointment is required, do bring along a copy of your ID for registration of the session and any other documents relevant to your legal issue to 1 Havelock Square B1-6/7/8, State Courts Towers, Singapore 059724. 
    <br><br><b>Tel:</b> +65 6557 4100
    <br><b>Email:</b><a href="help@cjc.org.sg">help@cjc.org.sg</a></p>
    </div>
  </div>
</div>

<div class="flip-card1">
  <div class="flip-card1-inner">
    <div class="flip-card1-front">
      <h1>LEGAL AID BUREAU</h1>
    <h3>CIVIL MATTERS | LOCAL INDIVIDUALS</h3></div>
    <div class="flip-card1-back">
      <h2>LEGAL AID BUREAU</h2>
      <p>LAB lawyers or a lawyer assigned by LAB can represent you in many kinds of civil proceedings, as set out in the Legal Aid and Advice Act. These include proceedings before the Court of Appeal, the High Court, District Courts, Magistrates’ Courts, the Family Courts, the Syariah Court and the Syariah Court Appeal Board, and the Commissioner of Labour under the Work Injury Compensation Act.
        <br><br><i>LAB does not handle criminal proceedings, some civil proceedings (defamation cases, proceedings from Small Claims tribunals, proceedings in the Family Justice Courts)</i>
        <br>LAB lawyers can give you oral advice on questions relating to Singapore law and suggest practical steps you may take in your case. 
        <br><br><b><u>Legal Assistance (Drafting of Simple Legal Documents)</u></b><br>LAB can help you draft the following: 
        <ol><li>Will (a legal document by which a person expresses his wishes as to how his property will be distributed upon his death and the persons who will manage the distribution of such property)</li>
        <li>Deed of Separation (a legal document signed by a married couple stating their mutual decision to live separately, before deciding on a divorce).</li>
        </ol>
        
        (a) For Legal Advice and Assistance matters, you must pass the Means Test.
        <br>(b) For Legal Aid, you must pass both the Means and Merits Test. 
        
        <br><br><b><u>Means Test for both CLAS and LAB</u></b><br>1. The average Per Capita Gross Monthly Household Income (PCHI) must be $950 or lower for the last 12 months prior to the application
        <br>2. The Annual Value of applicant’s place of residence owned by the applicant must be $13,000 or lower
        <br>3. The applicant’s savings and non-CPF investments must be $10,000 or lower, if he is younger than 60 years old. Applicants aged 60 and above are allowed to have savings and non-CPF investments of $40,000 or lower.
        <br>4. The applicant must not own any other property besides his/her place of residence.
        <br><br><u><b>Merits Test for both CLAS and LAB</b></u><br>Whether there are reasonable grounds for filing a case will be determined by the Legal aid Bureau.
        <br><br><b>Click here for Means Test for CLAS and LAB:</b> <a href="https://lab.mlaw.gov.sg/legal-services/taking-the-means-test/">Means Test</a>
        <br><b>Click here for Merits Test for CLAS and LAB:</b> <a href="https://lab.mlaw.gov.sg/legal-services/taking-the-merits-test/">Merits Test</a>
        </p>
    </div>
  </div>
</div>





<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>CRIMINAL LEGAL AID SCHEME</h1>
    <h3>CRIMINAL CASES | LOCAL INDIVIDUALS</h3></div>
    <div class="flip-card-back">
      <h2>CRIMINAL LEGAL AID SCHEME</h2>
      <p>    CLAS provides pro-bono legal assistance to persons who are facing charges in court for non-death penalty criminal offences and who are unable to afford a lawyer. This means that a volunteer lawyer will be handling your case. 
        <br>
        <br>
        You may need to pay CLAS a co-payment amount before you can be assigned a volunteer lawyer. You will be advised how much, if any, you need to pay to CLAS when you are informed of the outcome of the application. The payment is calculated based on your income and assets.<br><br>
    You have to be formally charged in court and your charge must be covered by CLAS. You also have to undergo a Means Test and Merits Test.
    <br><br><b>Apply here:</b> <a href="https://tinyurl.com/y94fvvs7">CLAS Application Form</a>
</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>PROJECT LAW HELP</h1>
    <h3>CIVIL MATTERS | ORGANISATIONS, NGOs</h3></div>
    <div class="flip-card-back">
      <h2>PROJECT LAW HELP</h2>
      <p>We match community organisations which qualify for assistance with law firms willing to provide free non-litigation commercial legal services. 
        <br><br><b>Examples of such legal services include: </b>
        <ol>
            <li>Corporate Law (e.g. advice on contracts with suppliers, indemnity agreements for corporate  sponsors, drafting pledges for donors)</li>
            <li>Employment Law (e.g. drafting or reviewing employment contracts)</li>
            <li>Intellectual Property Law (e.g. advice on copyright, data protection, website use)</li>
            <li>Property Law (e.g. lease terms)</li>
            <li>Other legal matters not involving court litigation advice or representation</li>
        </ol>
        Successful applicants will work directly with the law firm assigned. <br>All legal matters of the community organisation are handled in professional confidence by he volunteer law practice.
        <br><br>
        <b>Sign up for PLH here:</b> <a href="https://form.jotform.me/91284013638456">sign up</a></p>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>FOREIGN AIDS</h1>
    <h3>LEGAL ADVICE | FOREIGN INDIVIDUALS</h3></div>
    <div class="flip-card-back">
      <h2>QUICK LINKS FOR LEGAL AID SCHEMES</h2>
      <p>There are currently no legal aid schemes to support you financially in engaging a lawyer. The following schemes will only be able to provide you with legal advice.<br><br>
         <b>1. Humanitarian Organisation for Migration Economics (HOME) -- </b> <a href="https://www.home.org.sg/contact">workplace abuse</a>
         <br><br><b>2. Transient Workers Count Too (TWC2) -- </b> <a href="https://twc2.org.sg/">Workplace injury, abuse, or late salary payments</a><br><br>
         <b>3. Justice Without Borders (JWB) -- </b><a href="https://forjusticewithoutborders.org/get-help/">Workplace abuse or violation</a>
         <br><br><b>4. Foreign Domestic Worker Association for Social Support and Training (FAST) -- </b><A href="https://www.fast.org.sg/care/">Mediation services</a>
        <br><br></p>
    </div>
  </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div><p><br><br></p></div>

<style type='text/css'>
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  display: block;
  margin-left: auto;
  margin-right:auto;
  background-color: transparent;
  width: 1200px;
  height: 350px;
  border: 5px transparent;
  padding: 3px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  vertical-align: middle;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(134, 133, 133);
  color: rgb(243, 243, 243);
  vertical-align: middle;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(194, 173, 103);
  color: white;
  transform: rotateX(180deg);
}

.flip-card1 {
  display: block;
  margin-left: auto;
  margin-right:auto;
  background-color: transparent;
  width: 1200px;
  height: 350px;
  border: 5px transparent;
  padding: 3px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card1-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  vertical-align: middle;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card1:hover .flip-card1-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card1-front, .flip-card1-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card1-front {
  background-color: rgb(134, 133, 133);
  color: rgb(243, 243, 243);
  vertical-align: middle;
}

/* Style the back side */
.flip-card1-back {
  background-color: rgb(194, 173, 103);
  color: white;
  transform: rotateX(180deg);
  height: 700px;
  width: 1200px;
}


#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 70px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(250, 232, 175); /* Add a dark-grey background on hover */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 218, 145);
  color: white;
  text-align: center;
}

a:link {
  color: #555;
  background-color: transparent;
  text-decoration: none;
}

p {
padding-left: 50px;
padding-right: 50px;
}

</style>


<div class="footer">
  <h5>Click to access our telegram bot for help on legal schemes <a href = 'https://t.me/legalbuddy_bot'>here</a></h5>
</style>
{% endblock %}